<div id="footer">
	<div class="footerContent">
		<p id="my-name">Developed by <a href="https://kevinbundi.com">Kevin Bundi</a></p>
		<div class="text-center">
			<a class="my-white my-icons" href="https://github.com/kevinbundi" target='_blank'><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
			<a class="my-white my-icons" href="https://www.instagram.com/drogabeats/" target='_blank'><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</div>