<div class="row container-fluid">
	<!-- secrets App -->
	<div class="boxPortofolio col-md-6" id="secrets">
		<div class="text-center">
			<span class="secretsBorder text-center">Secrets</span>
			<p class="secretsParagraph">Create, view, comment, like/unlike anonymous secrets anonymously. Login and registration is required.</p>
			<a href="https://cryptic-depths-39605.herokuapp.com/sessions/new" target="_blank"><button class="btn btn-secondary">View Project</button></a>
		</div>
	</div>

	<div class="boxPortofolio col-md-6" id="lendBorrow">
		<div class="text-center">
			<span class="lendBorrowBorder text-center">LeBo</span>
			<p class="my-white lendBorrowParagraph">Sign in as a lender or as a borrower and lend or borrow money respectively. Explain your need for money if you opt in as a borrower and lenders who sympathize with your case may send money your way.</p>
			<a href="https://hidden-river-83447.herokuapp.com/" target="_blank"><button class="btn btn-secondary">View Project</button></a>
		</div>
	</div>

	<div class="boxPortofolio col-md-6" id="events">
		<div class="text-center">
			<span class="eventsBorder text-center">Events</span>
			<p class="my-white">Create, edit, delete and join events. Users can leave messages on created events. Login and Registration is required.</p>
			<a href="https://limitless-hamlet-63756.herokuapp.com/" target="_blank"><button class="btn btn-secondary">View Project</button></a>
		</div>
	</div>

	<div class="boxPortofolio col-md-6" id="mpira">
		<div class="text-center">
			<a href="/"><i class="fa fa-futbol-o fa-3x my-white" aria-hidden="true"></i></a>
			<span class="mpiraBorder text-center">Mpira</span>
			<p class="my-white mpiraParagraph">Api integration using ruby on rails - pulled data from http://api.football-data.org/v1/competitions/ API which has a fairly extensive resource on soccer leagues in Europe. Used this API to display this leagues and the teams participating in them.</p>
			<a href="https://shrouded-tor-74466.herokuapp.com/" target="_blank"><button class="btn btn-secondary">View Project</button></a>
		</div>
	</div>
</div>