<div class="image_background_1"> 
	<div class="main">
		<span class="my_name">Kevin Bundi</span>
		<span id="title">Full Stack Web Developer (Ruby on Rails)</span>
		<div class="menu">
			<div class="menu_item" id="portofolio">
				<a href="#scrollPortofolio"><button class="btn btn default">Portofolio</button></a>
			</div>
			<div class="menu_item" id="about">
				<a href="#scrollAbout"><button class="btn btn default">About</button></a>
			</div>
			<div class="menu_item " id="contact">
				<button class="btn btn default">Contact</button>
			</div>
		</div>
	</div>
</div>

<div class="image_background_3" id="scrollPortofolio">
	<div class="row my_row">
		<div class="card col-md-4">
			<h3 class="card-header">Secrets App</h3>
	  		<div class="card-block" style="padding: 10px;">
	    		<p class="card-text">Create, view, comment, like/unlike anonymous secrets anonymously. Login and registration is required.</p>
	   			<i class="fa fa-github" aria-hidden="true"></i>
	   			<a href="https://github.com/kevinbundi/secrets_app" target="_blank">github</a>
			</div>
			<div class="card-footer">
				<a href="https://kevinbundi.com/" class="btn btn-primary" target="_blank">See it yourself</a>
			</div>
		</div>

		<div class="card col-md-4">
	  		<h3 class="card-header">Events App</h3>
	  		<div class="card-block" style="padding: 10px;">
	    		<p class="card-text">Create, edit, delete and join events. Users can leave messages on created events. Login and Registration is required.</p>
	   			<i class="fa fa-github" aria-hidden="true"></i>
	   			<a href="https://github.com/kevinbundi/events_app" target="_blank">github</a>
			</div>
			<div class="card-footer">
				<a href="https://kevinbundi.com/" class="btn btn-primary" target="_blank">See it yourself</a>
			</div>
		</div>

		<div class="card col-md-4">
	  		<h3 class="card-header">Lend or Borrow App</h3>
	  		<div class="card-block" style="padding: 10px;">
	    		<p class="card-text">Sign in as a lender or as a borrower and lend or borrow money respectively. Explain your need for money if you opt in as a borrower and lenders who sympathize with your case may send money your way.</p>
	   			<i class="fa fa-github" aria-hidden="true"></i>
	   			<a href="https://github.com/kevinbundi/lend_or_borrow_app" target="_blank">github</a>
			</div>
			<div class="card-footer">
				<a href="https://kevinbundi.com/" class="btn btn-primary" target="_blank">See it yourself</a>
			</div>
		</div>
	</div> 
</div> 

<div class="image_background_1" id="scrollAbout">
	
</div>