<div class="image_background_1"> 
	<div class="main">
		<span class="my_name">Kevin Bundi</span>
		<span id="title">Full Stack Web Developer (Ruby on Rails)</span>
		<div class="menu">
			<div class="menu_item" id="portofolio">
				<a href="#scrollPortofolio"><button class="btn btn default">Portofolio</button></a>
			</div>
			<div class="menu_item" id="about">
				<a href="#scrollAbout"><button class="btn btn default">About</button></a>
			</div>
			<div class="menu_item " id="contact">
				<button class="btn btn default">Contact</button>
			</div>
		</div>
	</div>
</div>

<!-- portofolio -->
<div class="image_background_2" id="scrollPortofolio">
	<div class="row my_row">
		<div class="card col-md-4">
			<h3 class="card-header">Secrets App</h3>
	  		<div class="card-block" style="padding: 10px;">
	    		<p class="card-text">Create, view, comment, like/unlike anonymous secrets anonymously. Login and registration is required. <span style="color: #ffffff;"> fill fill fill</span></p>
	   			<i class="fa fa-github" aria-hidden="true"></i>
	   			<a href="https://github.com/kevinbundi/secrets_app" target="_blank">github</a>
			</div>
			<div class="card-footer">
				<a href="https://cryptic-depths-39605.herokuapp.com/sessions/new" class="btn btn-primary" target="_blank">Visit App</a>
			</div>
		</div>
		
		<div class="card col-md-4">
	  		<h3 class="card-header">Events App</h3>
	  		<div class="card-block" style="padding: 10px;">
	    		<p class="card-text">Create, edit, delete and join events. Users can leave messages on created events. Login and Registration is required.</p>
	   			<i class="fa fa-github" aria-hidden="true"></i>
	   			<a href="https://github.com/kevinbundi/events_app" target="_blank">github</a>
			</div>
			<div class="card-footer">
				<a href="https://limitless-hamlet-63756.herokuapp.com/" class="btn btn-primary" target="_blank">Visit App</a>
			</div>
		</div>

		<div class="card col-md-3">
			<h3 class="card-header">Pokemons</h3>
			<div class="card-block" style="padding: 10px;">
	    		<p class="card-text">Fetching the original pokemon sprites and their respective information from <a href="http://pokeapi.co/api/v1/pokemon/">pokemon API</a> using jQuery </p> 
	   			<i class="fa fa-github" aria-hidden="true"></i>
	   			<a href="https://github.com/kevinbundi/Pokemon" target="_blank">github</a>
			</div>
			<div class="card-footer">
				<a href="" class="btn btn-primary" target="_blank">Visit App</a>
			</div>
		</div>	

		<div class="card col-md-4">
	  		<h3 class="card-header">Lend or Borrow App</h3>
	  		<div class="card-block" style="padding: 10px;">
	    		<p class="card-text">Sign in as a lender or as a borrower and lend or borrow money respectively. Explain your need for money if you opt in as a borrower and lenders who sympathize with your case may send money your way. <span style="color: #ffffff;"> fill fill fill fill fill fill fill fill filll filll</span></p>
	   			<i class="fa fa-github" aria-hidden="true"></i>
	   			<a href="https://github.com/kevinbundi/lend_or_borrow_app" target="_blank">github</a>
			</div>
			<div class="card-footer">
				<a href="https://hidden-river-83447.herokuapp.com/" class="btn btn-primary" target="_blank">Visit App</a>
			</div>
		</div>

		<div class="card col-md-4">
			<h3 class="card-header">Mpira</h3>
			<div class="card-block" style="padding: 10px;">
	    		<p class="card-text">Api integration using ruby on rails - pulled data from http://api.football-data.org/v1/competitions/ API which has a fairly extensive resource on soccer leagues in Europe. Used this API to display this leagues and the teams participating in them.</p> 
	   			<i class="fa fa-github" aria-hidden="true"></i>
	   			<a href="https://github.com/kevinbundi/soccer-leagues" target="_blank">github</a>
			</div>
			<div class="card-footer">
				<a href="https://shrouded-tor-74466.herokuapp.com" class="btn btn-primary" target="_blank">Visit App</a>
			</div>
		</div>
	</div> 
</div> 

<!-- about -->
<div class="image_background_3 aboutContentDiv" id="scrollAbout">
	<div class="col-xs-11 col-sm-10 col-md-9 col-lg-8 horizontal-center-div aboutWrapper">
		<p class="my-white aboutMe text-justify">Born and raised in Nairobi, Kenya,  A graduate from Kenya Methodist University -Bsc, Computer Information Systems. Relocated to the US (Seattle) in 2015. Attended and graduated from Coding Dojo (Seattle), a renowned coding bootcamp where learned the art of web development the full stack way using Django(Python), MEAN and Ruby on Rails. Currently developing web applications using Ruby on Rails.</p>
	</div>	
	<div class="text-center">
		<img class="img-fluid img-thumbnail" src="<%= asset_path('profile_Fotor') %>">
	</div>
</div>

<!-- footer -->
<%= render 'shared/footer' %>